include README.md
include LICENSE
include CHANGELOG.md
include CONTRIBUTING.md
include SECURITY.md
include pyproject.toml
recursive-include src *.py *.typed
recursive-include examples *.py *.md
recursive-include tests *.py
exclude pre-pack-tree.txt
exclude post-pack-tree.txt
recursive-exclude .benchmarks *
recursive-exclude .mypy_cache *
recursive-exclude .ruff_cache *
recursive-exclude .pytest_cache *
recursive-exclude *.egg-info *
exclude .claude/
exclude .github/
